<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Administrator Page</title>
</head>
<body>
<div th:insert="~{/admin/include/header}"></div>
<div th:insert="~{/admin/include/sidebar}"></div>


<div class="col-md-9 animated bounce">
    <h3 class="page-header">Assignment</h3>
    <div th:if="${listAssignment.newOrderQuantity > 0}">
        <p>You have: <a th:href="@{/admin/order}"> <span th:text="${listAssignment.newOrderQuantity}"></span> new orders</a><p>
    </div>

    <div th:if="${listAssignment.orderPendingApprovalQuantity > 0}">
        <p>You have: <a th:href="@{/admin/order}"> <span th:text="${listAssignment.orderPendingApprovalQuantity}"></span> pending approval orders</a><p>
    </div>

    <div th:if="${listAssignment.newContactQuantity > 0}">
        <p>You have: <a th:href="@{/admin/contact}"> <span th:text="${listAssignment.newContactQuantity}"></span> new contacts</a><p>
    </div>

</div>

</body>
</html>