<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/Lion.png}">
    <title>LeoLap - Contact</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        td, #contactMessage, .contactMessage, #respondMessage {
            word-wrap: break-word;
        }
    </style>

</head>
<body>
<div th:insert="~{/admin/include/sidebar}"></div>
<div class="col-md-9 animated bounce" style="padding-left: 75px;">
    <h3 class="page-header text-white">Contact Management</h3>
    <div class="form-group form-inline">
        <div class="form-group">
            <select class="form-control status">
                <option value="Waiting for respond">Waiting for respond</option>
                <option value="Reponded">Reponded</option>
                <option value="">All</option>
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" id="fromDate" placeholder="From date">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" id="toDate" placeholder="To date">
        </div>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" id="btnBrowseContact">Browse Contact</button>
    </div>
    <hr>

    <table class="table table-hover contactTable text-white" style="text-align: center;">
        <thead>
        <tr>
            <th>Code</th>
            <th>Email</th>
            <th>Contact date</th>
            <th>Status</th>
            <th>Respond date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="pagination"></ul>
</div>
<div class="row col-md-6">
    <form class="detailForm" id="form">
        <div>
            <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p id="email"></p>
                                <br>
                                <p id="contactMessage"></p>
                                <br>
                                <p id="contactDate"></p>
                                <br>
                                <p id="status"></p>
                                <br>
                                <p id="respondMessage"></p>
                                <br>
                                <p id="respondDate"></p>
                                <br>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row col-md-6">
    <form class="contactForm" id="contactForm">
        <div>
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Respond</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" name="contactId" id="contactId" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="contactEmail">Contact Email:</label>
                                <input type="text" name="contactEmail" id="contactEmail" class="form-control" style="border: 0" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" name="title" id="title" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="contactMes">Contact Message:</label>
                                <textarea class="form-control" name="contactMessage" id="contactMes" style="border: 0; background-color: #fff" rows="3" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="respondMes">Respond Message</label>
                                <textarea class="form-control" name="respondMessage" id="respondMes" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="button" class="btn btn-primary btnSubmitRespond" value="Confirm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
<script th:src="@{/js/admin/manageContact.js}"></script>

<script type="text/javascript">
    $(function() {
        var from = $("#fromDate").datepicker({
            dateFormat : "dd-mm-yy",
            changeMonth : true
        }).on("change", function() {
            to.datepicker("option", "minDate", getDate(this));
        }), to = $("#toDate").datepicker({
            dateFormat : "dd-mm-yy",
            changeMonth : true
        }).on("change", function() {
            from.datepicker("option", "maxDate", getDate(this));
        });

        function getDate(element) {
            var date;
            var dateFormat = "dd-mm-yy";
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
</body>
</html>
