<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" th:href="@{/images/Lion.png}">
	<title>LeoLap - Category</title>
</head>
<body>

<div th:insert="~{/admin/include/sidebar}"></div>

<script th:src="@{/js/admin/manageCategory.js}"></script>

<div class="container-fluid">
	<div class="col-md-9 animated bounce">
		<h3 class="page-header">Category Management</h3>


		<button class="btn btn-success btnThemDanhMuc">Add category</button>

		<hr/>
		<table class="table table-hover danhMucTable">
			<thead>
			<tr>
				<th>Category ID</th>
				<th>Category</th>
			</tr>

			</thead>
			<tbody>
			</tbody>

		</table>

		<ul class="pagination">
		</ul>
	</div>

	<div class="row col-md-6">
		<form class="danhMucForm" id="form">
			<div>
				<div class="modal fade" id="danhMucModal" tabindex="-1"
					 role="dialog" aria-labelledby="exampleModalLabel"
					 aria-hidden="true" data-backdrop="static" data-keyboard="false">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Create/Update</h5>
								<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="id">ID:</label> <input type="text"
																	   class="form-control" id="id"/>
								</div>
								<div class="form-group">
									<label for="name">Category name:
										<input type="text" class="form-control" id="categoryName"
											   placeholder="Input a category name" required/>
									</label>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel
									</button>
									<input class="btn btn-primary" id="btnSubmit" type="button"
										   value="Confirm"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>