<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Order Manager</title>

	<script type="text/javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function () {

            const fromDateInput = document.getElementById("fromDate");
            const toDateInput = document.getElementById("toDate");
            fromDateInput.addEventListener("change", function () {
                const toDate = new Date(toDateInput.value);
                const fromDate = new Date(fromDateInput.value);
                toDate.setDate(fromDate.getDate());
                toDateInput.min = formatDate(fromDate);
            });

            toDateInput.addEventListener("change", function () {
                const fromDate = new Date(fromDateInput.value);
                const toDate = new Date(toDateInput.value);
                fromDate.setDate(toDate.getDate());
                fromDateInput.max = formatDate(toDate);
            });

            function formatDate(date) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return (day < 10 ? '0' : '') + day + '-' + (month < 10 ? '0' : '') + month + '-' + year;
            }
        });
        /*]]>*/
	</script>

</head>
<body>
<div th:insert="~{/admin/include/header}"></div>

<!-- all jquery scripts must be imported after header -->
<script th:src="@{/js/admin/manageOrder.js}"></script>

<div class="container-fluid">

	<div th:insert="~{/admin/include/sidebar}"></div>

	<div class="col-md-9 animated bounce">
		<h3 class="page-header form-inline">Order management</h3>

		<form class="form-inline" id="searchForm" name="searchObject">

			<select class="form-control" id="status">
				<option value="Waiting for Delivery">Waiting for Delivery</option>
				<option value="Delivering">Delivering</option>
				<option value="Waiting for approval">Waiting for approval</option>
				<option value="Completed">Completed</option>
				<option value="Cancelled">Cancelled</option>
			</select>

			<div class="form-group">
				<input class="form-control" type="text" id="fromDate"
					   placeholder="From date">
			</div>

			<div class="form-group">
				<input class="form-control" type="text" id="toDate"
					   placeholder="To date">
			</div>
			&nbsp;&nbsp; &nbsp;&nbsp;
			<button type="button" class="btn btn-primary" id="btnFilterOrder">Filter</button>
			<div class="form-group" style="float: right; margin-right: 20px">
				<input class="form-control" type="number" id="searchById"
					   placeholder="Enter id to quick search"> <span
					class="glyphicon glyphicon-search" aria-hidden="true"
					style="left: -30px; top: 4px"></span>
			</div>
		</form>

		<hr/>
		<table class="table table-hover donHangTable"
			   style="text-align: center">
			<thead>
			<tr>
				<th>Id</th>
				<th>Receiver</th>
				<th>Status</th>
				<th>Value</th>
				<th>Order date</th>
				<th>Delivery date</th>
				<th>Arrival date</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			</tbody>

		</table>

		<ul class="pagination">
		</ul>
	</div>

	<div class="row col-md-6">
		<form class="chiTietForm">    <!--TODO: might be redundant-->
			<div class="modal fade" id="chiTietModal" tabindex="-1" role="dialog"
				 aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 700px;">
					<div class="modal-content">
						<div class="modal-header">
							<p class="h4 modal-title" id="maDonHang"></p>
							<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-12">
									<div class="card">

										<div class="row pb-5 p-5">
											<div class="col-md-6">
												<h5 class="font-weight-bold mb-4">
													<strong>Customer info</strong>
												</h5>
												<p class="mb-1" id="hoTenNguoiNhan"></p>
												<p class="mb-1" id="diaChiNhan"></p>
												<p class="mb-1" id="sdtNhanHang"></p>
											</div>

											<div class="col-md-6 text-right"
												 style="text-align: left">
												<h5 class="font-weight-bold mb-4">
													<strong>Order info</strong>
												</h5>
												<p class="mb-1" id="trangThaiDonHang"></p>
												<p class="mb-1" id="ngayDatHang"></p>
												<p class="mb-1" id="ngayShipHang"></p>
												<p class="mb-1" id="ngayNhanHang"></p>
											</div>
										</div>
										<hr/>
										<div class="row p-5">
											<div class="col-md-12">
												<table class="table chiTietTable"
													   style="text-align: center;">
													<thead>
													<tr>
														<th class="border-0 text-uppercase small font-weight-bold">
															No.
														</th>
														<th class="border-0 text-uppercase small font-weight-bold">
															Product name
														</th>
														<th class="border-0 text-uppercase small font-weight-bold">
															Đơn giá
														</th>
														<th class="border-0 text-uppercase small font-weight-bold">
															Quantity
														</th>

													</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>

										<div class="d-flex flex-row-reverse bg-dark text-white p-4">
											<div class="py-3 px-5 text-right">
												<div class="mb-2"><p id="tongTien"></p></div>
											</div>
										</div>
										<hr/>

										<div class="col-md-6">
											<h5 class="font-weight-bold mb-4">
												<strong>Additional info</strong>
											</h5>
											<p class="mb-1" id="shipper"></p>
											<p class="mb-1" id="nguoiDat"></p>
											<p id="ghiChu"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row col-md-6">
		<form class="phanCongForm" id="form">
			<div>
				<div class="modal fade" id="phanCongModal" tabindex="-1"
					 role="dialog" aria-labelledby="exampleModalLabel"
					 aria-hidden="true" th:attr="data-backdrop=${'static'}, data-keyboard=${'false'}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Task assignment</h5>
								<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input type="hidden" id="donHangId" value=""/>
								</div>
								<div class="form-group">
									Choose a shipper for this order: <select class="form-control"
																			 name="shipper">
									<option th:each="shipper : ${allShipper}"
											th:value="${shipper.email}"
											th:text="${shipper.hoTen} + '(' + ${#lists.size(shipper.listDonHang)} + ')'">
									</option>
								</select>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Hủy
									</button>
									<input class="btn btn-primary" id="btnAssignDelivererSubmit"
										   type="button" value="Xác nhận"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row col-md-6">
		<form class="capNhatTrangThaiForm" id="form">
			<div>
				<div class="modal fade" id="capNhatTrangThaiModal" tabindex="-1"
					 role="dialog" aria-labelledby="exampleModalLabel"
					 aria-hidden="true" data-backdrop="static" data-keyboard="false">
					<div class="modal-dialog " role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirm completed order</h5>
								<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input type="hidden" id="idDonHangXacNhan" value="">
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<table class="table chiTietTable"
											   style="text-align: center;">
											<thead>
											<tr>
												<th class="border-0 text-uppercase small font-weight-bold">No.</th>
												<th class="border-0 text-uppercase small font-weight-bold">
													Product name
												</th>
												<th class="border-0 text-uppercase small font-weight-bold">
													Price
												</th>
												<th class="border-0 text-uppercase small font-weight-bold">
													Quantity
												</th>
												<th class="border-0 text-uppercase small font-weight-bold">
													Received quantity
												</th>
											</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<h4 id="tongTienXacNhan"
											style="float: right; font-weight: bold;padding-right: 50px">abc</h4>
									</div>

									<div>
										<h5 id="ghiChu" style="font-weight: bold; padding-top: 10px">Note</h5>
										<textarea rows="3" cols="75" id="ghiChuAdmin"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<input class="btn btn-primary" id="btnXacNhan" type="button"
										   value="Xác nhận"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>