<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div th:insert="~{/admin/include/sidebar}"></div>

<div class="col-md-9 animated bounce" style="padding-left: 75px;">
    <h3 class="page-header text-white">Manufacturer Management</h3>

    <button class="btn btn-success btnAddManufacturer">New</button>

    <hr/>

    <table class="table table-hover manufacturerTable text-white">
        <thead>
        <tr>
            <th>Identify code</th>
            <th>Manufacturer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <ul class="pagination"></ul>
</div>

<div class="row col-md-6">
    <form class="manufacturerForm" id="form">
        <div>
            <div class="modal fade" id="manufacturerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New/Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" class="form-control" id="id"/>
                            </div>
                            <div class="form-group">
                                <label for="manufacturerName">Manufacturer Name:</label>
                                <input type="text" class="form-control" id="manufacturerName" placeholder="Enter manufacturer name" required/>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input class="btn btn-primary" id="btnSubmit" type="button" value="Confirm"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/admin/manufacturer.js}"></script>
</body>
</html>
