<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Statistics</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
	<script>
        window.onload = function () {
            let data = [];
            const label = [];
            const dataForDataSets = [];

            $.ajax({
                async: false,
                type: "GET",
                data: data,
                contentType: "application/json",
                url: "http://localhost:8080/api/order/report",
                success: function (data) {
                    for (let i = 0; i < data.length; i++) {
                        label.push(data[i][0] + "/" + data[i][1]);
                        dataForDataSets.push(data[i][2] / 1000000);
                    }
                },
                error: function (e) {
                    alert("Error: ");
                    console.log("Error", e);
                }
            });

            const canvas = document.getElementById('myChart');
            data = {
                labels: label,
                datasets: [{
                    label: "Total value",
                    backgroundColor: "#e5c5bd",
                    borderColor: "#e5c5bd",
                    borderWidth: 2,
                    hoverBackgroundColor: "#8acd00",
                    hoverBorderColor: "#cf7041",
                    data: dataForDataSets,  // this is an array
                }]
            };
            const options = {
                scales: {
                    y: {
                        stacked: true,
                        grid: {
                            display: true,
                            color: "rgba(255,99,132,0.2)"
                        }
                    },
                    x: {
                        barPercentage: 0.5,
                        grid: {display: false}
                    }
                },
                maintainAspectRatio: false,
                plugins: {
                    legend: {labels: {fontSize: 20}}
                }
            };
            const myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        }
	</script>

</head>
<body>
<div th:insert="~{/admin/include/sidebar}"></div>

<div class="col-md-9 animated bounce">
	<h3 class="page-header">Statistics</h3>

	<canvas id="myChart" width="600px" height="400px"></canvas>
	<h4 style="text-align: center; padding-right: 10%">Gross value orders by month</h4>

</div>
</body>
</html>