<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".check").forEach(function (element) {
        element.innerHTML = accounting.formatMoney(element.textContent);
      });

      document.querySelectorAll(".total").forEach(function (element) {
        element.innerHTML = accounting.formatMoney(element.textContent);
      });
    });
  </script>
</head>
<body>

<div th:insert="~{client/include/homeHeader}"></div>


<form method="post" th:action="@{/complete-order}" th:object="${order}">

  <div sec:authorize="isAuthenticated()" class="col-md-3">
    <br>
    <p class="border-p" style="line-height:1.5;"><b>Customer info</b></p>
    <p style="line-height:2;">Full name</p>
    <input size="27" th:value="${user.fullName}" th:disabled="true">
    <p style="line-height:2;">Email address</p>
    <input size="27" th:value="${user.email}" th:disabled="true">
    <p style="line-height:2;">Phone number</p>
    <input size="27" th:value="${user.phoneNumber}" th:disabled="true">
    <p style="line-height:2;">Home address</p>
    <textarea rows="5" cols="29" th:value="${user.address}" th:disabled="true"></textarea>
    <br><br>
  </div>

  <div class="col-md-3">
    <br>
    <p class="border-p" style="line-height:1.5;"><b>Delivery Information</b></p>
    <p style="line-height:2;">Receiver's name</p>
    <input size="27" th:field="*{receiver}" th:id="receiver" required="required">
    <p style="line-height:2;">Phone number</p>
    <input size="27" th:field="*{receivedPhone}" th:id="receivedPhone" required="required">
    <p style="line-height:2;">Address</p>
    <textarea rows="5" cols="29" th:field="*{receiveAddress}" th:id="receiveAddress" required="required"></textarea>
    <br><br>
    <div class="alert" th:id="alertMsg"
         th:style="${#fields.hasErrors('receiver') or #fields.hasErrors('receivedPhone') or #fields.hasErrors('receiveAddress')} ? '' : 'display:none;'">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Please provide all information
    </div>
    <br><br>
    <input type="hidden" th:id="totalCost" th:field="*{totalCost}">
  </div>

  <div class="col-md-6">
    <br>
    <p class="border-p" style="line-height:1.5;"><b>Cart</b></p>
    <br>

    <table class="table-cart-checkout mytable">
      <thead>
      <tr>
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${cart}" style="text-align: center;">
        <td>
          <img th:src="@{/product_images/${product.id}.png}" th:alt="${product.id}"
               class="img-reponsive fix-size-img">
        </td>
        <td style="color:green" th:text="${product.productName}"></td>
        <td class="donGia">
          <div class="check" style="display: inline-block;" th:text="${product.price}"></div>
          <div style="display: inline-block;" th:text="' x ' + ${quantity[product.id]}"></div>
        </td>
        <td>
          <div class="total" th:text="${product.price * quantity[product.id]}"></div>
        </td>
      </tr>
      </tbody>
    </table>

    <br>
    <p>Total value of order: <b id="orderTotal"></b></p>
    <br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

    <div>
      <button class="btn btn-danger pull-center" type="submit" id="submit">Purchase</button>
      <a th:href="@{/cart}" class="btn btn-primary">Return to cart</a>
    </div>
    <br><br>
  </div>

</form>

<script th:src="@{/js/client/checkout.js}"></script>


<div th:insert="~{client/include/homeFooter}"></div>

</body>

</html>
