<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" th:href="@{/images/Lion.png}">
	<title>LeoLap - Guarantee</title>
</head>
<body>

<div th:insert="~{/client/include/homeHeader}"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-lg-10" th:class="pull-center">
			<br/>
			<img th:src="@{/images/guarantee.jpg}" alt="guarantee img"/>
			<br/><br/>
			<p> In order to better meet the needs of customers and enhance the quality of service, Laptop Store
				is running the program: "Golden Warranty accompanying businesses." The purpose of the program is to
				offer additional services to enterprise customers after the sale, aiming to bring benefits and
				peace of mind to our valued customers when using products from Laptop Store.</p>
			<br/>
			<p th:text="'1. EFFECTIVE PERIOD: From today:' + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></p>
			<br/>
			<p><b>2. APPLICABLE PRODUCTS:</b> Whole computers (laptops, pre-built computers, desktops) </p>
			<br/>
			<p><b>3. APPLICABLE TARGET:</b> End-users who are businesses or organizations </p>            <br/>
			<p><b>4. CONTENT:</b></p>
			<br/>
			<p> Customers who are businesses or organizations (not applicable to individual customers) will receive a
				GOLDEN WARRANTY CARD valued at 25 USD (warranty at the place of use) for each whole computer
				purchase (including laptops, pre-built computers, desktop computers) from Laptop Store.</p>
			<br/>
			<p>The Golden Warranty Card (GWC) is a type of service card issued by Laptop Store for repairing
			   computers, components, and IT products.</p>
			<br/>
			<p>Card is not exchangeable for cash and is only issued once for each product. The company does not
			   reissue the card in case of loss, damage, or expiration.</p>
			<br/>
			<p>Each GWC has an effective period of 12 months from the date of issue. During this period, customers can
			   use the card up to 10 times for all their products.</p>
			<br/>
			<p>Customers with GWC have the right to choose the warranty location: At the company's warranty department
			   or choose the warranty service at the place of use within a radius of 20 km from the company's sales
			   location.</p>

		</div>
		<div class="col-sm-1"></div>
	</div>
</div>


<div th:insert="~{client/include/homeFooter}"></div>

</body>
</html>