<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Laptop Shop</title>

	<link rel="stylesheet" th:href="@{/glide/glide.core.min.css}">
	<link rel="stylesheet" th:href="@{/glide/glide.theme.min.css}">
	<script th:src="@{/glide/glide.min.js}"></script>
</head>
<body>

<div th:insert="~{/client/include/homeHeader}"></div>


<script th:src="@{/js/client/add2cart.js}"></script>
<script th:src="@{/js/client/homeCatalog.js}"></script>
<!--start-image-slider---->
<div class="wrap">
	<div class="image-slider">
		<!-- Glide Slider -->
		<div class="glide" id="glide1">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					<li class="glide__slide"><img th:src="@{/images/laptop1.jpg}" src="/images/laptop1.jpg"
												  alt="laptop1"></li>
					<li class="glide__slide"><img th:src="@{/images/laptop2.png}" src="/images/laptop2.png"
												  alt="laptop2"></li>
					<li class="glide__slide"><img th:src="@{/images/laptop3.png}" src="/images/laptop3.png"
												  alt="laptop3"></li>
				</ul>
			</div>
		</div>
		<!-- End Glide Slider -->
	</div>
	<!--End-image-slider---->
</div>

<script>
    new Glide('#glide1', {
        type: 'carousel',
        autoplay: 2000, // Adjust autoplay speed (in milliseconds) as needed
        hoverpause: true // Pause autoplay on hover
    }).mount();
</script>


<div class="clear"></div>
<div class="wrap">
	<div class="content">
		<div class="top-3-grids">
			<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					<a th:href="@{#}">
						<img th:src="@{/images/acer.jpg}" src="/images/acer.jpg" alt="acer">
					</a>
					<h3>Prominent Brands</h3>
				</div>
				<div class="grid_1_of_3 images_1_of_3 ">
					<a th:href="@{#}">
						<img th:src="@{/images/lenovo2.png}" src="/images/lenovo2.png" alt="lenovo2"
							 style="background-color: white">
					</a>
					<h3>Prominent Brands</h3>
				</div>
				<div class="grid_1_of_3 images_1_of_3 ">
					<a th:href="@{#}">
						<img th:src="@{images/dell.png}" src="/images/dell.png" alt="dell"
							 style="background-color: white">
					</a>
					<h3>Prominent Brands</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="content-grids">
		<h4>Latest Laptops</h4>
	</div>
</div>

<div class="content-sidebar">
	<h4>Catalog</h4>
	<ul id="danhmuc"></ul>
</div>
<div class="clear"></div>


<div th:insert="~{/client/include/homeFooter :: footer}"></div>

</body>
</html>
