<!DOCTYPE html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Shop</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="/css/login.css">
    <link th:href="@{/css/boxicons.min.css}" rel='stylesheet'>
</head>

<body>
    <div th:if="${param.error}" id="error" class="notification error-message">
        <p>Invalid email or password!</p>
    </div>

    <div th:if="${param.logout}" id="logout" class="notification success-message">
        <p>Logged out successfully!</p>
    </div>

    <div th:if="${param.accessDenied}" id="unauthorized" class="notification error-message">
        <p>Unauthorized Access!</p>
    </div>

    <div th:if="${param.success}" id="success" class="notification success-message">
        <p>Registration successful!</p>
    </div>

    <div class="wrapper">

        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>

        <div class="form-box login">
            <h2 class="animation" style="--i:0; --j:21">Login</h2>
            <form th:action="@{/login}" method="post">
                <div class="input-box animation" style="--i:1; --j:22">
                    <input type="text" name="email" required>
                    <label>Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box animation" style="--i:2; --j:23">
                    <input type="password" name="password" required>
                    <label>Password</label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="forget-section animation" style="--i:3; --j:24">
                    <p>
                        <input type="checkbox">
                        Remember me
                    </p>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn animation" style="--i:4; --j:25">Sign in</button>
                <div class="logreg-link animation" style="--i:5; --j:26">
                    <p>Not a member? 
                    <a class="register-link">Register</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20">Hi There!</h2>
            <p class="animation" style="--i:1; --j:21">How are you today?</p>
        </div>

        <div class="form-box register">
            <h2 class="animation" style="--i:17; --j:0">Register</h2>
            <form th:action="@{/register}" method="post" th:object="${newUser}">
                <div class="input-box animation" style="--i:18; --j:1">
                    <input type="email" th:field="*{email}" required>
                    <label>Email</label>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="validate-email" class="register-link validation-message"></label>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box animation" style="--i:19; --j:2">
                    <input type="password"  th:field="*{password}" required>
                    <label>Password</label>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="validate-password" class="validation-message"></label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="input-box animation" style="--i:20; --j:3">
                    <input type="password" th:field="*{confirmPassword}"  required>
                    <label>Confirm Password</label>
                    <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" id="validate-confirmPassword" class="validation-message"></label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="input-box animation" style="--i:21; --j:4">
                    <input type="text" th:field="*{fullName}" required>
                    <label>Fullname</label>
                    <label th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" id="validate-fullname" class="validation-message"></label>
                    <i class='bx bxs-user' ></i>
                </div>
                <button type="submit" class="btn animation" style="--i:22; --j:5">Sign up</button>
                <div class="logreg-link animation" style="--i:23; --j:6">
                    <p>Already have an account?
                    <a class="login-link">Login</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:0">Welcome!</h2>
            <p class="animation" style="--i:18; --j:1">Hope you're served well!</p>
        </div>
    </div>

    <script>
        const wrapper = document.querySelector('.wrapper');
        const registerLink = document.querySelector('.register-link');
        const loginLink = document.querySelector('.login-link');
        registerLink.onclick = () => {
            wrapper.classList.add('active');
        }
        loginLink.onclick = () => {
            wrapper.classList.remove('active');
        }

        document.addEventListener("DOMContentLoaded", function() {
            ['error', 'logout', 'unauthorized', 'success'].forEach(showMessage);
            function showMessage(type) {
                const element = document.getElementById(type);
                if (element) {
                    element.style.cssText = 'display: block; opacity: 1;';
                    setTimeout(function() {
                        element.style.cssText = 'opacity: 0; display: none;';
                    }, 2000);
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            ['validate-email', 'validate-password', 'validate-confirmPassword', 'validate-fullname'].forEach(showMessage);
            function showMessage(type) {
                const element = document.getElementById(type);
                if (element) {
                    wrapper.classList.add('active');
                    element.style.cssText = 'display: block; opacity: 1;';
                    setTimeout(function() {
                        element.style.cssText = 'opacity: 0; display: none;';
                    }, 5000);
                }
            }
        });
    </script>
</body>
</html>