<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Product Details</title>

	<script th:inline="javascript">
		/*<![CDATA[*/
		document.addEventListener('DOMContentLoaded', function () {
			document.getElementById('priceConvert').innerHTML = accounting.formatMoney([[${sp.donGia}]]);
		});
		/*]]>*/
	</script>
</head>
<body>

<div th:insert="~{client/include/homeHeader}"></div>


<div class="container">
	<div class="card">
		<div class="container-fluid">
			<div class="wrapper row">
				<div class="preview col-md-6">
					<div class="preview-pic tab-content">
						<div class="tab-pane active" id="pic-1"><img th:src="@{'/product_images/' + ${sp.id} + '.png'}" alt="product img"/></div>
					</div>
				</div>
				<div class="details col-md-6">
					<p th:style="'display:none'" id="spid" th:text="${sp.id}"></p>
					<h2 class="product-title" th:text="${sp.tenSanPham}"></h2>
					<h4 class="price">Product description</h4>
					<p th:if="${#strings.length(sp.cpu) > 0}" class="product-description"
					   th:text="'CPU: ' + ${sp.cpu}"></p>
					<p th:if="${#strings.length(sp.ram) > 0}" class="product-description"
					   th:text="'RAM: ' + ${sp.ram}"></p>
					<p th:if="${#strings.length(sp.thietKe) > 0}" class="product-description"
					   th:text="'Design: ' + ${sp.thietKe}"></p>
					<p th:if="${#strings.length(sp.heDieuHanh) > 0}" class="product-description"
					   th:text="'Operating system: ' + ${sp.heDieuHanh}"></p>
					<p th:if="${#strings.length(sp.manHinh) > 0}" class="product-description"
					   th:text="'Screen: ' + ${sp.manHinh}"></p>
					<p th:if="${#strings.length(sp.dungLuongPin_mAh) > 0}" class="product-description"
					   th:text="'Battery Capacity: ' + ${sp.dungLuongPin_mAh}"></p>
					<p class="product-description" th:text="'Producer brand: ' + ${sp.hangSanXuat.tenHangSanXuat}"></p>
					<p class="product-description">
						<span class="important">GENERAL INFORMATION:</span> <span th:text="${sp.thongTinChung}"></span>
					</p>
					<p class="product-description">
						<span class="important">GUARANTEE:</span> <span th:text="${sp.thongTinBaoHanh}"></span>
					</p>
					<h4 class="price" id="blabla">Pricing: <span id="priceConvert"></span></h4>
					<div class="action">
						<button class="add-to-cart btn btn-warning" type="button">
							<span class="glyphicon glyphicon-shopping-cart pull-center"></span> Purchase
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/client/detailspAjax.js}"></script>


<div th:insert="~{client/include/homeFooter}"></div>

</body>

</html>
