<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/jquery/responsiveslides.min.js}"></script>
	<script th:src="@{js/client/accounting.min.js}"></script>
	<title>Checkout</title>

	<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('. .donGia .check').forEach(function (element) {
                element.innerHTML = accounting.formatMoney(element.textContent);
            });
            document.querySelectorAll('. .total').forEach(function (element) {
                element.innerHTML = accounting.formatMoney(element.textContent);
            });
        });
	</script>
</head>
<body>
<div th:insert="~{/client/include/homeHeader}"></div>
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<br>
			<p><b>Your order has been placed successfully</b></p><br>
			<p>Order details:</p><br>
			<p><b>ID/Order Code: </b><span th:text="${donhang.getId()}"></span></p><br>
			<p><b>Recipient's Name: </b><span th:text="${donhang.getHoTenNguoiNhan()}"></span></p><br>
			<p><b>Phone Number: </b><span th:text="${donhang.getSdtNhanHang()}"></span></p><br>
			<p><b>Address: </b><span th:text="${donhang.getDiaChiNhan()}"></span></p><br>
			<p><b>Notes: </b><span th:text="${donhang.getGhiChu()}"></span></p><br>
			<p>At <span th:text="${donhang.getNgayDatHang()}"></span>, we received an order with the following products:
			</p><br>

			<table class="table-cart-checkout">
				<thead>
				<tr>
					<th>Picture</th>
					<th>Product name</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="sanpham : ${cart}">
					<tr style="text-align: center;">
						<td>
							<img th:src="@{/product_images/{id}.png(id=${sanpham.id})}" th:alt="${sanpham.id}"
								 class="img-reponsive fix-size-img">
						</td>
						<td style="color:green" th:text="${sanpham.tenSanPham}"></td>
						<td class="donGia">
							<div class="check" style="display: inline-block;"
								 th:text="${sanpham.donGia} + ' x ' + ${quantity[sanpham.id]}"></div>
						</td>
						<td>
							<div class="total" th:text="${sanpham.donGia * quantity[sanpham.id]}"></div>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>

			<br>
			<p>Order total value: <b id="ordertotal"> </b></p><br>

			<p>Laptop Store sincerely thanks our valued customers for trusting and using our services.</p>
			<br>
			<a th:href="@{/}">Click here to continue shopping</a>

		</div>
	</div>
</div>
</body>
</html>