<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<script th:src="@{js/accounting.min.js}"></script>
	<title>Checkout</title>

	<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('. .donGia .check').forEach(function (element) {
                element.innerHTML = accounting.formatMoney(element.textContent);
            });
            document.querySelectorAll('. .total').forEach(function (element) {
                element.innerHTML = accounting.formatMoney(element.textContent);
            });
        });
	</script>
</head>
<body>
<div th:insert="~{/client/include/homeHeader}"></div>


<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<br>
			<p><b>Your order has been placed successfully</b></p><br>
			<p>Order details:</p><br>
			<p><b>ID/Order Code: </b><span th:text="${order.getId()}"></span></p><br>
			<p><b>Recipient's Name: </b><span th:text="${order.getReceiver()}"></span></p><br>
			<p><b>Phone Number: </b><span th:text="${order.getReceivedPhone()}"></span></p><br>
			<p><b>Address: </b><span th:text="${order.getReceiveAddress()}"></span></p><br>
			<p><b>Notes: </b><span th:text="${order.getNote()}"></span></p><br>
			<p>At <span th:text="${order.getOrderDate()}"></span>, we received an order with the following products:
			</p><br>

			<table class="table-cart-checkout">
				<thead>
				<tr>
					<th>Picture</th>
					<th>Product name</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="product : ${cart}">
					<tr style="text-align: center;">
						<td>
							<img th:src="@{/product_images/{id}.png(id=${product.id})}" th:alt="${product.id}"
								 class="img-reponsive fix-size-img">
						</td>
						<td style="color:green" th:text="${product.getProductName}"></td>
						<td class="donGia">
							<div class="check" style="display: inline-block;"
								 th:text="${product.getPrice} + ' x ' + ${quantity[product.id]}"></div>
						</td>
						<td>
							<div class="total" th:text="${product.getPrice * quantity[product.id]}"></div>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>

			<br>
			<p>Order total value: <b id="orderTotal"> </b></p><br>

			<p>We sincerely thanks you for trusting and using our services.</p>
			<br>
			<a th:href="@{/}">Continue shopping</a>

		</div>
	</div>
</div>
</body>
</html>