<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>HTML Boilerplate Page</title>
</head>
<body>
<div th:fragment="footer" class="footer">
	<div class="wrap">
		<div class="section group">
			<div class="col_1_of_4 span_1_of_4">
				<h3>General Information</h3>
				<p>A convenient online laptop store</p>
				<p>Providing the best choices</p>
			</div>
			<div class="col_1_of_4 span_1_of_4">
				<h3>Latest News</h3>
				<p>RTX 4000s series restocked!</p>
				<p>New products are coming...</p>
			</div>
			<div class="col_1_of_4 span_1_of_4">
				<h3>Locations</h3>
				<p>9999 Giai Phong Str. - Hai Ba Trung Dist. - Hanoi</p>
				<p>9999 Nguyen Trai Str. - Dist. 1 - Ho Chi Minh City</p>
			</div>
			<div class="col_1_of_4 span_1_of_4 footer-lastgrid">
				<h3>Follow Us:</h3>
				<ul>
					<li><a href="#">
						<img th:src="@{/images/twitter.png}" src="/images/twitter.png" alt="Twitter"/>
						Twitter</a></li>
					<li><a href="#">
						<img th:src="@{/images/facebook.png}" src="/images/facebook.png" alt="Facebook"/>
						Facebook</a></li>
					<li><a href="#">
						<img th:src="@{/images/rss.png}" src="/images/rss.png" alt="Rss"/>
						Rss</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<div class="wrap">
		<div class="copy-right">
			<p>&copy; 2023 Project I Laptop Store. MIT License | Designed by HUST students </p>
		</div>
	</div>
</div>
</body>
</html>
