<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!--many other boilerplate in /include/ use libraries here, do not remove-->
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
	<script th:src="@{/bootstrap/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
	<link th:href="@{'//fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans'}" rel="stylesheet"
		  type="text/css">
	<link rel="stylesheet" th:href="@{/jquery/responsiveslides.css}">
	<script th:src="@{/js/accounting.min.js}"></script>

	<script>
		$(function () {
			$("#slider1").responsiveSlides({maxwidth: 1600, speed: 600});
		});
	</script>
	<title>HTML Boilerplate Page</title>
</head>
<body>
<div class="wrap">
	<!--start-Header-->
	<div class="header">
		<div class="search-bar">
			<form th:action="@{/search}">
				<label> <input type="text" name="name"/> </label>
				<input type="submit" value="Search"/>
			</form>
		</div>
		<div class="clear"></div>

		<!--integrate with spring security, need testing-->
		<div class="header-top-nav" sec:authorize="isAuthenticated()">
			<ul>
				<li>Hello, <span th:text="${loggedInUser.fullName}"></span></li>
				<li><a th:href="@{/account}">Account</a></li>
				<li><a th:href="@{/cart}">
					<span>Shopping Cart&nbsp;&nbsp;</span>
					<span class="glyphicon glyphicon-shopping-cart"></span>
				</a></li>
				<li><a th:href="@{/logout}">Sign Out</a></li>
			</ul>
		</div>

		<div class="header-top-nav" sec:authorize="isAnonymous()">
			<ul>
				<li><a th:href="@{/login}"><strong>Login</strong></a></li>
				<li><a th:href="@{/cart}">
					<span>Shopping Cart&nbsp;&nbsp;&nbsp;</span>
					<span class="glyphicon glyphicon-shopping-cart"></span>
				</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="top-header">
	<div class="wrap">
		<!--start-logo-->
			<a th:href="@{/}">
				<img th:src="@{/images/logo3.png}"
					 src="/images/logo3.png" title="logo" alt="logo" style="max-width: 25%; height: auto;" />
			</a>
		<div class="top-nav">
			<ul>
				<li><a th:href="@{/}">Home Page</a></li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Shopping<span class="caret"></span></a>
					<ul class="dropdown-menu" style="background: #94cb32" id="danhmuc2"></ul>
				</li>
				<li><a th:href="@{/guarantee}">On-site Guarantee</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script th:src="@{/js/client/header.js}"></script>
</body>
</html>
