<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--TODO: duplicate of storeContent, need refactor with fragments-->
<head>
	<link rel="stylesheet" th:href="@{/css/searchResult.css}"/>
	<link rel="stylesheet" th:href="@{/css/product_flex.css}">
	<script th:src="@{/js/accounting.min.js}"></script>
	<script th:src="@{/js/client/add2cart.js}"></script>
	<title>HTML Boilerplate</title>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			const elements = document.querySelectorAll(".changeToVND");
			elements.forEach(function (element) {
				element.innerHTML = accounting.formatMoney(element.textContent);
			});
		});
	</script>
</head>

<body>
<div style="display:flex">
	<div class="wrap">
		<div class="content">
			<h4>Search results:</h4>
			<div class="top_area_list_page">
				<div class="sort_pro">
					<form action="">
						<input type="hidden" name="name" th:value="${name}"/>
						<input type="hidden" name="range" th:value="${range}"/>
						<input type="hidden" name="brand" th:value="${brand}"/>
						<input type="hidden" name="manufacturer" th:value="${manufacturer}"/>

						<div class="inline">
							<label>Sort products
								<select name="sort" class="form-control">
									<option value=""></option>
									<option value="newest">Latest</option>
									<option value="priceAsc">Price ascending</option>
									<option value="priceDes">Price descending</option>
								</select>
							</label>
						</div>

						<div class="inline">
							<button type="submit" class="search-submit">Sort</button>
						</div>
					</form>
				</div>
			</div>

			<div class="product_container">
				<div class="section group" th:if="${#lists.isEmpty(list)}">
					<h4>No search result</h4>
				</div>

				<div th:each="sanpham, loop : ${list}">
					<!--switch case need testing-->
					<div th:if="${loop.index != #lists.size(list)-1}" th:switch="${loop.index % 4}">

						<div th:case="0" class="product_item products-info"
							 style="width: 232px; height: 400px;">
							<a th:href="@{'sp?id=' + ${sanpham.id}}">
								<img th:src="@{'/product_images/' + ${sanpham.id} + '.png'}" th:alt="${sanpham.id}"
									 style="width: 15em; height: 15em;"/>
								<h3 style="font-weight: bold; height: 5em" th:text="${sanpham.tenSanPham}"></h3>
							</a>
							<h3 class="changeToVND" th:text="${sanpham.donGia}"></h3>
							<button th:onclick="'addToCart(' + ${sanpham.id} + ')'" class="btn btn-warning"
									type="button">
								<span class="glyphicon glyphicon-shopping-cart pull-center"></span>
								Purchase
							</button>
							<h3></h3>
						</div>

						<div th:case="3" class="product_item products-info"
							 style="width: 232px; height: 400px;">
							<a th:href="@{/sp(id=${sanpham.id})}">
								<img th:src="@{'/product_images/'+ ${sanpham.id} + '.png'}" th:alt="${sanpham.id}"
									 style="width: 15em; height: 15em;"/>
								<h3 style="	font-weight: bold; height: 5em" th:text="${sanpham.tenSanPham}"></h3>
							</a>
							<h3 class="changeToVND" th:text="${sanpham.donGia}"></h3>
							<button th:onclick="'addToCart(' + ${sanpham.id} + ')'" class="btn btn-warning"
									type="button">
								<span class="glyphicon glyphicon-shopping-cart pull-center"></span>
								Purchase
							</button>
							<h3></h3>
						</div>

						<div th:case="*" class="product_item products-info"
							 style="width: 232px; height: 400px;">
							<a th:href="@{/sp(id=${sanpham.id})}">
								<img th:src="@{'/product_images/' + ${sanpham.id} + '.png'}" th:alt="${sanpham.id}"
									 style="width: 15em; height: 15em;"/>
								<h3 style="font-weight: bold; height: 5em" th:text="${sanpham.tenSanPham}"></h3>
							</a>
							<h3 class="changeToVND" th:text="${sanpham.donGia}"></h3>
							<button th:onclick="'addToCart(' + ${sanpham.id} + ')'" class="btn btn-warning"
									type="button">
								<span class="glyphicon glyphicon-shopping-cart pull-center"></span> Purchase
							</button>
							<h3></h3>
						</div>

					</div>

					<div th:unless="${loop.index != #lists.size(list)-1}" th:switch="${loop.index % 4}">
						<div th:case="0" class="product_item products-info"
							 style="width: 232px; height: 400px;">
							<a th:href="@{/sp(id=${sanpham.id})}">
								<img th:src="@{'/product_images/' + ${sanpham.id} + '.png'}" th:alt="${sanpham.id}"
									 style="width: 15em; height: 15em;"/>
								<h3 style="font-weight: bold; height: 5em" th:text="${sanpham.tenSanPham}"></h3>
							</a>
							<h3 class="changeToVND" th:text="${sanpham.donGia}"></h3>
							<button th:onclick="addToCart(${sanpham.id})"
									class="btn btn-warning" type="button">
								<span class="glyphicon glyphicon-shopping-cart pull-center"></span> Purchase
							</button>
							<h3></h3>
						</div>

						<div th:unless="0" class="product_item products-info"
							 style="width: 232px; height: 400px;">
							<a th:href="@{/sp(id=${sanpham.id})}">
								<img th:src="@{'/product_images/' + ${sanpham.id} + '.png'}" th:alt="${sanpham.id}"
									 style="width: 15em; height: 15em;"/>
								<h3 style="font-weight: bold; height: 5em" th:text="${sanpham.tenSanPham}"></h3>
							</a>
							<h3 class="changeToVND" th:text="${sanpham.donGia}"></h3>
							<button th:onclick="'addToCart(' + ${sanpham.id} + ')'"
									class="btn btn-warning" type="button">
								<span class="glyphicon glyphicon-shopping-cart pull-center"></span> Purchase
							</button>
							<h3></h3>
						</div>
					</div>
				</div>
			</div>

			<div class="paging" th:if="${#lists.size(list) != 0}">
				<a th:if="${currentPage != 1}"
				   th:href="'@{/store(page=' + ${currentPage - 1 } + ',range=${range},brand=${brand},manufacturer=${manufacturer},os=${os},ram=${ram},pin=${pin})}'">
					Back</a>
				<a th:if="${currentPage == 1}" class="current">1</a>
				<a th:if="${currentPage != 1}"
				   th:href="@{/store(page=1,range=${range},brand=${brand},manufacturer=${manufacturer},os=${os},ram=${ram},pin=${pin})}">
					1</a>

				<th:block th:each="pg : ${pageList}" th:status="loop">
					<a th:if="${currentPage == pg}" class="current" th:text="${pg}"></a>
					<a th:if="${currentPage != pg}"
					   th:href="@{/store(page=${pg},range=${range},brand=${brand},manufacturer=${manufacturer},os=${os},ram=${ram},pin=${pin})}"
					   th:text="${pg}"></a>
				</th:block>

				<a th:if="${currentPage != totalPage}"
				   th:href="@{/store(page=${currentPage+1},range=${range},brand=${brand},manufacturer=${manufacturer},os=${os},ram=${ram},pin=${pin})}">
					Next</a>
			</div>
		</div>
	</div>

	<div class="content-sidebar">
		<h4>Filter</h4>
		<!--default http is GET, default action url is #-->
		<form>
			<input type="hidden" name="name" th:value="${name}">
			<p>Price Range</p>
			<div class="select-range">
				<label>Filter products
					<select name="range" class="form-control">
						<option value="">All prices</option>
						<option value="Under 400">Under 400</option>
						<option value="400 - 800">400 - 800</option>
						<option value="800 - 1200">800 - 1200</option>
						<option value="1200 - 1600">1200 - 1600</option>
						<option value="Above 1600">Above 1600</option>
					</select>
				</label>
			</div>
			<p>Manufacturer</p>
			<div class="select-range">
				<select name="manufacturer" class="form-control">
					<option value="">All manufacturer</option>
					<option th:each="manufacturer : ${hangsx}" th:value="${manufacturer}" th:text="${manufacturer}"></option>
				</select>
			</div>
			<div th:if="${brand == 'Laptop'}">
				<p>OS</p>
				<div class="select-range">
					<select name="os" class="form-control">
						<option value="">All OS</option>
						<option value="ubuntu">Ubuntu</option>
						<option value="dos">DOS</option>
						<option value="mac">MAC</option>
						<option value="linux">Linux</option>
						<option value="windows 10">Window 10</option>
					</select>
				</div>
				<p>RAM</p>
				<div class="select-range">
					<select name="ram" class="form-control">
						<option value="">Every RAM size</option>
						<option value="2 GB">2 GB</option>
						<option value="3 GB">3 GB</option>
						<option value="4 GB">4 GB</option>
						<option value="6 GB">6 GB</option>
						<option value="8 GB">8 GB</option>
						<option value="16 GB">16 GB</option>
					</select>
				</div>
				<p>Pin</p>
				<div class="select-range">
					<select name="pin" class="form-control">
						<option value="">All battery</option>
						<option th:each="pin : ${pinSet}" th:value="${pin}" th:text="${pin}"></option>
					</select>
				</div>
			</div>
			<input type="hidden" name="brand" th:value="${brand}">
			<input class="search-submit" type="submit" value="Filter">
		</form>
	</div>

</div>

</body>
</html>