p.cart_ten {
  color: #1374E3;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
p.cart_ten a{
  color: #1374E3;
}

p.cart_masanpham {
  margin-bottom: 10px;
}
p.cart_masanpham span {
  color: red;
}


input.input_num_cart {
  width: 36px;
  padding: 3px;
  text-align: center;
  margin: auto;
  display: block;
  border: solid 1px #ccc;
  font-size: 14px;
}

p.cart_tongdonhang {
  text-align: center;
  font-size: 14px;
}




span.next_payment {
  float: right;
  margin: 10px;
}
.paymentbtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Arial, serif;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  border: none;
  float: left;
  text-align: center;
}

.paymentbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

p.cart_tongdonhang {
  text-align: center;
  font-size: 14px;
}
p.cart_tongdonhang span {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

/* giỏ hàng */
table.tablecart {
  margin: 20px 0;
  width: 100%;
}

table.tablecart td {
  border: solid 1px #ccc;
  padding: 6px;
}
table.tablecart tr:first-child{
background: #F7F7F7;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 12px;
}

table.tablecart td img {
  margin: auto;
  display: block;
}

table.tablecart tr td:first-child{
text-align:center;
}