
body {
    font-family: 'open sans', serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}


.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.important {
    font-weight: bold;
}

.product-title {
    font-size: 20pt;
}
